body {
    margin: 0;
    font-size: 1.3em;
     overflow: hidden;
    background: #ffdbfa;
}

#top {
    height: 35px;
    border-bottom: solid 2px black;
    margin-top: 15px;
}

#top a {
    border-right: solid 2px black;
}

#top a:last-child {
    border: 0;
}

#navigation {
    height: 35px;
    padding: 5px;
    border: solid 1px black;
    overflow: hidden;
    background: #FFC0EB;
}

#navigation a {
    text-decoration: none;
}

#navigation a:after {
    content: ' > ';
}

.upper-panel {
    padding-right: 10px;
    padding-left: 8px;
}

#side-panel {
    width: 300px;
    border: solid 1px black;
    height: 100vh;
    overflow-y: scroll;
    float: left;
}


ul li {
    list-style-type: none;
    margin: 10px;
}

ul li{
    list-style: none;
}

.menu, .submenu {
  padding: 0;
  margin-left: 20px;
}

#side-panel img{
    float: left;
    margin-top: 15px;
}

.menu a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

.menu li:hover .submenu {
  display: block;
  max-height: 100vh;
  margin-left: 30px;
}

.submenu {
  overflow: hidden;
  max-height: 0;
}

ul li img, ul img {
    width: 13px;
    height: 13px;
    padding-right: 5px;
}

#content {
    overflow: scroll;
    height: 85vh;
    background: #ffdaf3;
}

#content figure {
    float: left;
    margin: 10px;
}

.bg-img{
    width: 250px;
    height: 250px;
    background: white;
}

#content figure img{
    width: 150px;
    height: 250px;
     margin-left: 23%;
}

#content figure figcaption {
    text-align: center;
}




